<mat-toolbar class="header">
    <span><img src="/assets/images/logo.png" height=auto width=30px></span>


    <a mat-button *ngIf="!IngresoBool" routerLink="/home" routerLinkActive="active" id="hbtn"><span class="fa fa-home fa-lg"></span> Home</a>
    <a mat-button *ngIf="!IngresoBool" routerLink="/aboutus" routerLinkActive="active" id="hbtn"><span class="fa fa-info fa-lg"></span> About</a>
    <a mat-button *ngIf="IngresoBool && perfilUsuario == 'mozo'" routerLink="/menu" routerLinkActive="active" id="hbtn"><span class="fa fa-cutlery fa-lg"></span> Menu</a>
    <a mat-button *ngIf="!IngresoBool" routerLink="/contactus" routerLinkActive="active" id="hbtn"><span class="fa fa-address-card fa-lg"></span> Contact</a>
    <a mat-button  *ngIf="IngresoBool && perfilUsuario != 'mozo'" routerLink="/listado" routerLinkActive="active" id="hbtn"><span class="fa fa-book fa-lg"></span> Listado</a>
    <a mat-button  *ngIf="IngresoBool && perfilUsuario == 'mozo'" routerLink="/listadoMesas" routerLinkActive="active" id="hbtn"><span class="fa fa-info-circle fa-lg"></span> Listado de Mesas</a>
    <span class="flex-spacer"></span>
    ¡Hola {{nombre}}!
    <a mat-button  *ngIf="!IngresoBool" (click)="openLoginForm()" id="hbtn"><span class="fa fa-sign-in fa-lg"></span> Ingresar</a>
    <a mat-button *ngIf="IngresoBool" (click)="logout()" id="hbtn"><span class="fa fa-sign-out fa-lg"></span> Salir</a>


  </mat-toolbar>
  
  <div class="container-fluid jumbotron"
      fxLayout="row"
      fxLayout.sm="column" 
      fxLayout.xs="column" 
      fxLayoutAlign.xs="start center"
      fxLayoutAlign.sm="start center" 
      fxLayoutAlign.gt-sm="center center" 
      fxLayoutGap="10px">
  
    <div fxFlex fxFlex.gt-sm="60%">
      <div>
      <h1>Bienvenido a The Red Door</h1>
    </div>
      <p>Nos inspiramos en las mejores cocinas del mundo y creamos una experiencia de fusión única. 
        ¡Nuestras creaciones te sorprenderan!</p>
    </div>
    <div class="md-8">
      
        <mat-toolbar-row>
            <img class="enmarcada" src="../../assets/images/alberto.png" alt="Avatar">
          </mat-toolbar-row>
    </div>
   
  </div>