<app-header> </app-header>
<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">
     <div fxFlex>
            <img  src="../../assets/images/local.jpg" >
     </div>                      
      <div fxFlex>
        <div fxLayout="column" fxLayout.gt-sm="row">
          <div fxFlex="70">
              <h2>Nuestra Historia</h2>
              <p>En tiempos pasados, se decía que un taxista de Buenos Aires, podía desconocer la exacta ubicación del Cabildo, pero si el destino era “La Cabaña” se dirigía sin ninguna duda a la zona de Congreso.

                    El 14 de septiembre de 1935, en la Avenida Entre Ríos al 400, Don Francisco Lapietra abre su restaurante un amplio salón de estilo normando con una capacidad para 450 personas y un salón privado para 60 personas en primer piso. 
                    Dos vacas embalsamadas de raza Hereford presidían el hall de entrada, los turistas se sacaban fotos con ella y se corre la voz de que tocándoles la cola traen buena suerte. 
                    El comensal que ingresaba se encontraba con una vidriera de seis metros de largo con tres filas de ganchos, donde las medias reces, se diferenciaban en, Aberdeen Angus arriba, Hereford en le medio y Shorton abajo, es así como podían elegir el corte que más le gustaba.
                </p>
              <p>    El restaurante se convirtió en un éxito inmediato, con dos clases de clientela: aquellos que deseaban una cena familiar tranquila y aquellos que llegaban después de una noche de entretenimiento local. El ambiente cómodo y el plato emblemático del restaurante, el "Delicioso Bife de Chorizo," hacían que la gente regresara una y otra vez.
                    En el libro de visitas de la parrilla aparece una lista de las principales figuras del siglo XX. Desde Louis Armstrong, Fidel Castro, y Charles de Gaulle hasta Sophia Loren y Charlton Heston.
                  </p>
                  <p>  Cada noche, un gran número de argentinos acudía a La Cabaña, el lugar para mostrarse, disfrutar de su famosa atmósfera y degustar la mejor carne del mundo.
                        La Cabaña irradia glamour desde su apertura. Pero, sin duda, la comida creó su imagen.
                        El restaurant cerró sus puertas en 1996 hasta que fue adquirido por la cadena de hoteles, trenes y cruceros de lujo Orient Express Hotels, reinstalándose así en la exclusiva zona de Recoleta.   Años más tarde, el restaurante vuelve a manos argentinas.  Así, sus dueños, atesorando la entrañable esencia de LA CABAÑA original, han reubicado el restaurante en el centro del polo gastronómico más importante  de 
                        Buenos Aires.  Como no podía ser de otra manera, el paisaje de La Cabaña está enmarcado por el Luna Park, la Avenida Corrientes y más allá el Obelisco, pero también por las luces y la atmósfera moderna de Puerto Madero.   De eso se trata, la pasión renovada por nuestra cocina conjugada con lo mejor de nuestra historia, para seguir escribiéndola…</p>
          </div>
          <div fxFlex="30">
              <mat-card>
                <mat-card-header>
                  <mat-card-title>
                  <h2>      Algunos datos</h2>
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                        <dl>
                            <dt> Comienzo</dt>
                            <dd> 10 de Noviembre de 2018</dd>
                            <br>
                            <dt> Socio Principal</dt>
                            <dd> Leandro Pollola</dd>
                            <br>
                            <dt> Ganancias</dt>
                            <dd> $1,250,375</dd>
                            <br>
                            <dt> Cantidad de Empleados</dt>
                            <dd> 40</dd>
                       </dl>
                </mat-card-content>
              </mat-card>
          </div>
        </div>
      </div>
      
      <div fxFlex>
                 <mat-card>
                        <blockquote>
                                   <h3>¡El mejor restaurante del mundo!</h3>
                        <footer>
                                <img class="enmarcada" src="../../assets/images/cocinero.png" alt="Avatar">
                                Critica especializada,
                            <cite>Revista de las mejores comidas </cite>
                        </footer>
                    </blockquote>
                </mat-card>
      </div>
</div>
 