<form novalidate [formGroup]="loginForm" (ngSubmit)="Entrar()">

    <mat-toolbar mat-dialog-title color="gray">
        <h2 class="display-3">Ingresar <button mat-button mat-dialog-close id="closebtn">&times;</button></h2>
       
    </mat-toolbar>

      
    <!-- <div class="container"> -->
<!-- 
      <div class="example-container">
          <h2 class="display-3">Ingresar al Sistema</h2>
          <br> -->
      <div class="centro">    
      <img class="img-thumbnail"   src="../../assets/images/login.png" alt="Avatar" >
      </div>
    <br><br>

    <div class="form-group"> 
            <mat-form-field>
                <input matInput placeholder="Ingrese Usuario"  formControlName="username"   type="usuario" name="usuario" required>
                <!-- <mat-error *ngIf="usuario.invalid">{{getErrorMessageUser()}}</mat-error> -->
              </mat-form-field>

            </div>
<br>
<div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Ingrese contraseña"  formControlName="password"  name="password" [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <!-- <mat-error *ngIf="password.invalid">{{getErrorMessagePsw()}}</mat-error> -->
          </mat-form-field>  

</div>

          <br>
            <mat-checkbox >Recordar mis Datos</mat-checkbox>
            <br>
            <!-- <button *ngIf="logeando"  (click)="MoverBarraDeProgreso()" >Ingresar</button> -->
           
            <mat-dialog-actions>
                <span class="flex-spacer"></span>
                <button mat-button mat-dialog-close>Cancel</button>
                <button type="submit" mat-button class="background-primary text-floral-white" >Ingresar</button>
              </mat-dialog-actions>
          <!-- </div> -->

        <!-- </div> -->
</form>

<br>
<button  (click)="LoginCliente()" class="btn btn-primary">Cliente</button>
<button  (click)="LoginSocio()" class="btn btn-primary">Socio</button>
<button  (click)="LoginMozo()" class="btn btn-primary">Mozo</button>
<button  (click)="LoginChopera()" class="btn btn-primary">Chopera</button>
<button  (click)="LoginTragos()" class="btn btn-primary">Tragos</button>
<button  (click)="LoginCocina()" class="btn btn-primary">Cocina</button>
<button  (click)="LoginCandy()" class="btn btn-primary">Candy Bar</button>
<!-- </div> -->
