<app-header> </app-header>

<div class="container-fluid"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex>

  </div>

  <div fxFlex>

    <div class="container">
    
      <div class="row">
      <div class="tabla-prod col-sm-4" style="padding: 5%">
        <form class="form-group" action="">
          <br>
          <label for="numeroMesa">Numero de mesa</label>
          <input class="form-control miInput" id="numeroMesa" placeholder="mesa" type="text" name="mesa" value="0002" [(ngModel)]="mesa">
          <br>
          <label for="fotoMesa">Foto mesa</label>
          <br>
          <p-fileUpload id="fotoMesa" mode="basic" name="mesa" url="http://localhost/backendVFINAL/Mesas/FotoMesa"></p-fileUpload>
    
        </form>
        <input type="text" placeholder="Busqueda" class="form-control miInput" [(ngModel)]="busqueda" >
        <br>
        <table class="table">
            <thead>
              <th>Producto</th> <th>Precio</th> <th>Accion</th>
            </thead>
            <tbody *ngIf="listaProductos">
              <tr *ngFor="let producto of (listaProductos | filtro: busqueda)">
                  <td estilo [tipo]="producto.responsable">{{producto.nombre}}</td>
                  <td>{{producto.precio | currency: '$ ': true: '1.1-2'}}</td>
                  <td><app-boton-agregar [producto]="producto" (enviar)="AgregarAlPedido($event)"></app-boton-agregar></td>
              </tr>
            </tbody>
          </table>
        </div>
      
        <div class="tabla-prod col-sm-4" style="padding: 5%">
            <h2>Pedido</h2>
          <table class="table">
            
            <thead>
              <th>Producto</th> <th>Precio</th> <th>Accion</th>
            </thead>
            <tbody *ngIf="productosPedido">
              <tr *ngFor="let producto of productosPedido">
                
                  <td>{{producto.nombre}}</td>
                  <td>{{producto.precio | currency: '$ ': true: '1.1-2'}}</td>
                  <td> <app-boton-borrar [objeto]="producto" (enviarABorrar)="QuitarAlPedido($event)" ></app-boton-borrar> </td>
              </tr>
            </tbody>
            <tfoot>
              <td>Total</td> <td>{{totalPedido | currency: '$ ': true: '1.1-2'}} </td>
            </tfoot>
          </table>
        </div>
        
        <div class="btn-ingresar col-sm-4 ">
        <button class="btn btn-primary col-sm-12" (click)="IngresarPedido()">Ingresar pedido</button>
        <div class="card-pedido card col-sm-12" style="padding: 5%"> 
      
          <legend>Numero pedido:</legend>
          <h3 *ngIf="elPedido.id"> {{elPedido.id}} </h3>
          <legend>Detalle:</legend>
          <ul *ngFor="let p of elPedido.detalle">
            <li>{{p.nombre}}</li>
          </ul>
          <legend>Total:</legend>
          <h4 *ngIf="elPedido.id"> {{totalPedido | currency: '$ ': true: '1.1-2'}} </h4>
          <!-- <div><app-csv *ngIf="elPedido.id" [pedido]="elPedido"></app-csv></div> -->

        </div>

      </div>
      </div>
      </div>
  </div>
</div>


 