 input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
} 

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
} 

/*Estilos validacion*/

 .ng-invalid:not(form)  {
	 border-left: 5px solid #a94442; 
} 

.ng-valid:not(form)  {
	 border-left: 5px solid #4CAF50; 
} 


.registro-body{
    background-image: url(../../../assets/imagenes/registrofondo.jpg);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background: rgb(187, 113, 113); */
    /* font-family: Roboto, Arial, sans-serif; */
    font-family: 'Oswald', sans-serif;
    /* background-image: url(../../../assets/imagenes/loginfondo.jpg); */
    background-position: center;




}


.registro-form{
    background-image: url(../../../assets/imagenes/registrofondo.jpg);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background: rgb(187, 113, 113); */
    /* font-family: Roboto, Arial, sans-serif; */
    font-family: 'Oswald', sans-serif;
    




}
