<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <form [formGroup]="registroForm" class="modal-content animate form-group" (ngSubmit)="onSubmit()">
          <div class="container">
            <label><b>Email</b></label>
            <input type="text" placeholder="Ingresa tu correo" name="email" [formControl]="email" class="form-control" required>

            <label><b>Clave</b></label>
            <input type="password" placeholder="Aca la clave" name="psw" [formControl]="clave" class="form-control" required>

            <label><b>Repita la clave</b></label>
            <input type="password" placeholder="Aca repeti la misma clave  de arriba" [formControl]="copiaClave" name="psw-repeat" class="form-control" required>

            <div>
              <div>
                <button type="submit" class="signupbtn" [disabled]="registroForm.valid" class="form-control">Registrarme</button>      
                <button type="button" routerLink="/Login" class="signupbtn" [disabled]="registroForm.valid" class="form-control">Cancelar</button>
               
              </div>
            </div>
          </div>
          
        
        </form>
        <div>
            <div class="g-recaptcha" data-sitekey="6Lc6P3gUAAAAAP2wTfQl5vPlTP83kIk0PhPKlgvP"></div>
        </div>

      </div>
    </div>
  </div>
</div>